<p> Squirell Type: <%= @squirell["squirell_type"] %></p>
<p> Description: <%= @squirell["description"] %></p>
<p> Squirell location: <%= @squirell["location"] %></p>
<p> Date: <%= @squirell["date"] %></p>